* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* have to find more information on scroll behavior */
  scroll-behavior: smooth;
  font-family: "League Spartan", sans-serif;
  /* Also find more info on list style */
  list-style: none;
  /* more info */
  text-decoration: none;
}

/* Hero Image */
.hero-image {
  z-index: 1;
  /* height: 100vh; */
  background-image: url(/images/Purple.jpeg);
  border-radius: 2.5%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
}

.intro {
  margin-top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}
.intro h3 {
  padding: 10px;
}

/*  */
.hidden {
  opacity: 0;
  filter: blur(2px);
  transition: all 4s;
}
.show {
  opacity: 1;
  filter: blur(0);
}
/* Hero Image */

/* Product */

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
}

.product {
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  border: 1px solid;
  padding: 20px;
  background: linear-gradient(-135deg, rgb(24, 2, 217) 0%, rgb(248, 136, 229));
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-image img {
  width: 100%;
  height: 100%;
}
.btn {
  background: rgb(248, 136, 229);
  border-radius: 7%;
  width: 35%;
}

/* Product */

/* Start of Header */
header {
  position: absolute;
  width: 100%;
  height: 10vh;
  top: 0;
  right: 0;
  background: linear-gradient(-135deg, rgb(24, 2, 217) 0%, rgb(248, 136, 229));

  /* find more info */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  /* add background color */
  /* border-radius: ; add rounded border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /*add background shadow */
}

/* logo edit */
.logo img {
  max-width: 120px;
  height: 0;
}
.logo img:hover {
  transform: scale(5);
}
/* navbar */
.navmenu {
  display: flex;
}
.navmenu a {
  color: #2c2c2c;
  font-size: 16px;
  /* text-transform: capitalize; */
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}
.navmenu a:hover {
  color: lightblue;
}
.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-right: 20px;
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.42 ease;
}
.nav-icon i:hover {
  transform: scale(1.2);
  color: lightblue;
}
/* Might take this fake hamburger menu out */
#menu-icon {
  font-size: 35px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
}
#menu-icon:hover {
  color: lightblue;
  transform: lightblue;
}
/* End of Navbar */

/* Footer */

.footer-container {
  background: linear-gradient(-135deg, rgb(24, 2, 217) 0%, rgb(248, 136, 229));
  padding-bottom: 4rem;
  width: 100%;
}
.footer {
  width: 80%;
  height: 40vh;
  color: #fff;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: lightblue;
  transition: 0.3s ease-out;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
#footer-email-btn:hover {
  cursor: pointer;
  background-color: skyblue;
  transition: all 0.4s ease-out;
}

/* footer end */

/* Media Quary */

/* Phones */
@media only screen and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* have to find more information on scroll behavior */
    scroll-behavior: smooth;
    font-family: "League Spartan", sans-serif;
    /* Also find more info on list style */
    list-style: none;
    /* more info */
    text-decoration: none;
  }

  /* Hero Image */
  .hero-image {
    height: 50vh;
  }

  .intro {
    min-height: 50vh;
  }

  .intro h3 {
    font-size: 24px;
    padding: 5px;
  }

  /* Product */

  .product-grid {
    justify-content: center;
    gap: 10px;
  }

  .product {
    flex-basis: 100%;
    border: none;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .product-image {
    height: 150px;
    margin-bottom: 5px;
  }

  .product-image img {
    object-fit: contain;
  }

  .btn {
    width: 50%;
    margin: 10px auto;
  }

  /* Start of Header */

  header {
    height: 8vh;
    padding: 10px 5%;
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
    right: 0;
    background: linear-gradient(
      -135deg,
      rgb(24, 2, 217) 0%,
      rgb(248, 136, 229)
    );
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    flex-direction: column;
  }

  /* logo edit */
  .logo img {
    max-width: 100px;
    height: 0;
  }
  .logo img:hover {
    transform: none;
  }
  .header .navmenu {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
  }
  .header .navmenu a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
  .header .navmenu .active {
    right: 2rem;
    transition: 0.4s linear;
  }

  /* navbar */

  .nav-icon {
    display: flex;
    align-items: center;
  }

  .nav-icon i {
    margin-right: 10px;
    font-size: 20px;
  }

  /* Might take this fake hamburger menu out */
  #menu-icon {
    display: block;
  }

  /* End of Navbar */

  /* Footer */

  .footer {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .footer-heading {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
  }

  .footer-heading h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .footer-heading a {
    display: block;
    margin-bottom: 0.5rem;
  }

  #footer-email {
    width: 100%;
    margin-bottom: 10px;
  }
}
